bottle==0.13.2
waitress==2.1.2
selenium==4.15.2
func-timeout==4.3.5
psutil==6.0.0
prometheus-client==0.17.1
# required by undetected_chromedriver
requests==2.31.0
certifi==2023.7.22
packaging==24.0
# required by undetected_chromedriver & nodriver
websockets==14.1
# required by nodriver
deprecated==1.2.15
mss==10.0.0
# only required for linux and macos
xvfbwrapper==0.2.9; platform_system != "Windows"
# only required for windows
pefile==2023.2.7; platform_system == "Windows"
bs4